{% extends 'agenda/base.html' %}
{% block title %}
    - Todo
{% endblock %}
{% block content %}
    <a href="{% url 'show_agenda' %}">show agenda</a>
    <h2>Todo</h2>
    {% if column_labels %}
        {% if row_labels %}
            <table style="width:100%" class="table table-bordered">
                <tr>
                    <th></th>
                    <th></th>
                    {% for label in column_labels %}
                        <th><a href="{% url 'show_entry' label.id %}">{{ label.name }}</a></th>
                    {% endfor %}
                </tr>
                {% for label in row_labels %}
                    <tr>
                        {# show delete link #}
                        <td>
                            <a href="{% url 'delete_template_item' label.id %}"><i class="material-icons">delete</i></a>
                        </td>
                        {# show row label #}
                        <td>
                            {{ label.label }}
                        </td>
                        {# show row values #}
                        {% for row in rows_array %}
                            <td>
{#                                <a href="{% url 'show_entry' 1 %}">hello</a>#}

                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}

            </table>
        {% else %}
            No template items
        {% endif %}
    {% else %}
        {% if row_labels %}
            No entry on the agenda
        {% else %}
            No template items & No entry on the agenda
        {% endif %}
    {% endif %}


    <h3>
        Add item
    </h3>
    <form action="{% url 'show_todo' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="+ Add">
    </form>

{% endblock %}
